/* Base Style */

/*https://css-tricks.com/making-charts-with-css/*/

/* Body */
body {
	font-family: Ubuntu;
	background: rgb(3, 0, 19);
	color: white;
}

.levels {
	display: flex;
	flex-direction: column;
}

.levels h5 {
	background: blue;
}

.langs {
	display: flex;
	flex-direction: row;
}

.section1  {
	font-size: larger;
	overflow: hidden;
}

.section1 h1 {
	font-size: 50px;
}

.section1 h2 {
	font-size: 2vw;
}

img {
	width: 30vh;
	height: 30vh;
	float: right;
	background: white;
}