/* This website has been recreated without the usage of AI*/

html, body, div, h1, h2, h3, h4, h5, h6, p, a, img, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: sans-serif;
  	font-weight: 400;
  	font-style: normal;
	color: #000000;
}

body {
	background: white;
	position: relative;
	
	margin: 20px;
    border: 3px solid #000000;
}

/* Credits: https://matthewjamestaylor.com/left-sidebar-layout*/
/* grid container */
.left-sidebar-grid {
    display:grid;
    grid-template-areas:
        'header'
        'main-content'
        'left-sidebar'
        'footer';
}

/* general column padding */
.left-sidebar-grid > * {
    padding:1rem;
}

/* assign columns to grid areas */
.left-sidebar-grid > .header {
    grid-area:header;
    background:#f97171;
    text-align: center;
}
.left-sidebar-grid > .main-content {
    grid-area:main-content;
    background:#fff;
}
.left-sidebar-grid > .left-sidebar {
    grid-area:left-sidebar;
    background:#f5d55f;
    text-align: center;
}
.left-sidebar-grid > .footer {
    grid-area:footer;
    background:#72c2f1;
}

/* tablet breakpoint */
@media (min-width:768px) {
    .left-sidebar-grid {
        grid-template-columns:repeat(3, 1fr);
        grid-template-areas:
            'header header header'
            'left-sidebar main-content main-content'
            'footer footer footer';
    }
}


/* PROJECT GRID STUFF 
Credits: https://youtu.be/3T0gjtXRNC0?si=m2yIFYsfb0kiGzGE
*/
.projects-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	gap: 20px;
}

.graphics-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300, 1fr));
	gap: 20px;
	justify-content: center;
}

.project-title {
    padding: 5px;   
    display: inline;
}

.project-title.pink {
    background-color:rgba(255, 0, 140, 0.5); 
}

.project-title.blue {
    background-color:rgba(0, 204, 255, 0.5); 
}


.project-title.green {
    background-color:rgba(36, 180, 0, 0.5); 
}


.project-title.yellow {
    background-color:rgba(255, 230, 0, 0.5); 
}

.projects-introduction {
	padding: 20px;
	background-color: #cfcfcf;
	margin-bottom: 20px;
}

.project-card {
	padding: 20px;
	background-color: #ffffff;
    border-radius: 5px;
    border: 2px solid #000000;
	text-align: center;
}

.graphics-card {
	padding: 20px;
	background-color: #cfcfcf;
	text-align: center;
}

.project-card:hover {
	transform: scale(1.01);
}

.project-timeframe {
	margin: 5px;
}

.project-tags {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.project-tags span {
	white-space: nowrap;
	padding:5px;
	margin: 5px;
	border-radius: 5px;
	background-color: #e9e9e9;
}

.project-images, .graphics-images{
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding: 10px;
	align-items: center;
	justify-content: center;
}

.graphics-images img{
	width: auto;
	height: 250px;
	border-radius: 5px;
	background: #ffffff;
}

.project-images img {
	width: auto;
	height: 250px;
	border-radius: 5px;
}

.project-overview {
	background-color: #e9e9e9;
	padding: 10px;
	margin-top: 10px;
	border-radius: 5px;
}

/* NAVBAR */
.navbar {
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.navbar a {
  	float: left;
  	text-align: center;
	padding: 8px;
	margin-right: 10px;
    margin-top: 5px;
  	text-decoration: none;
	font-size: 15px;
	background-color: #ffffff;
	border-radius: 5px;
    border: 2px solid #000000
}

.navbar a:hover {
	text-decoration: underline;
}

.navbar a.active {
	
}