/* This website has been recreated without the usage of AI*/

html, body, div, h1, h2, h3, h4, h5, h6, p, a, img, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: sans-serif;
  	font-weight: 400;
  	font-style: normal;
	color: #000000;
}

body {
	background: white;
	position: relative;
	height: 100vh; /* Full height */
	margin: 30px;
}

.tab {
	display: inline-block;
    margin-left: 40px;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 25px;
}

h5 {
	font-size: 20px;
}

.header {
	background: #d3d3d3;
	padding: 10px;
	text-align: center;
	margin-bottom: 20px;
}

/* PROJECT GRID STUFF 
Credits: https://youtu.be/3T0gjtXRNC0?si=m2yIFYsfb0kiGzGE
*/
.projects-page {
	display: inline-block;
}

.projects-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
}

.graphics-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300, 1fr));
	gap: 20px;
	justify-content: center;
}

.projects-introduction {
	justify-content: center;
	text-align: center;
	padding: 20px;
	background-color: #cfcfcf;
	margin-bottom: 20px;
}

.project-card {
	padding: 20px;
	background-color: #cfcfcf;
	text-align: center;
}

.graphics-card {
	padding: 20px;
	background-color: #cfcfcf;
	text-align: center;
}

.project-card:hover {
	transform: scale(1.01);
}

.project-timeframe {
	margin: 5px;
}

.project-tags {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.project-tags span {
	white-space: nowrap;
	padding:5px;
	margin: 5px;
	border-radius: 5px;
	background-color: #e9e9e9;
}

.project-images, .graphics-images{
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding: 10px;
	align-items: center;
	justify-content: center;
}

.graphics-images img{
	width: auto;
	height: 250px;
	border-radius: 5px;
	background: #ffffff;
}

.project-images img {
	width: auto;
	height: 250px;
	border-radius: 5px;
}

.project-overview {
	background-color: #e9e9e9;
	padding: 10px;
	margin-top: 10px;
	border-radius: 5px;
}

/* NAVBAR */
.navbar {
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.navbar a {
  	float: left;
  	text-align: center;
	padding: 10px;
	margin: 10px;
  	text-decoration: none;
	font-size: 20px;
	background-color: #e9e9e9;
	border-radius: 5px;
}

.navbar a:hover {
	text-decoration: underline;
}

.navbar a.active {
	
}

/* CONTACT */
.contact {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: left;
	padding-top: 20px;
}

.contact h3 {
	margin-bottom: 10px;
}

.contact-item {
	display: flex;
	flex-direction: row;
	padding: 10px;
	align-items: left;
	font-size: 25px;
}

.contact-item a {
	size: 20px;
}