html, body, div, h1, h2, h3, h4, h5, h6, p, a, img, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Gowun Dodum", sans-serif;
  	font-weight: 400;
  	font-style: normal;
	color: #383838;
}

body {
	background: 
    repeating-linear-gradient(
      to bottom, 
      #fffefb, /* Cream background color */
      #fffefb 38px, /* Space until the next line */
      #b8d6ff 40px /* Blue line every 20px */
    );
  position: relative;
  height: 100vh; /* Full height */
  margin: 0;
  overflow: hidden;
}

.tab {
	display: inline-block;
    margin-left: 40px;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 25px;
}

h5 {
	font-size: 20px;
}


/* HEADER */
.header {

}

.header h1 {
	padding: 30px;
}


/* NAVBAR */
.navbar {
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	margin-right: 25px;
}

.navbar a {
  	float: left;
  	text-align: center;
  	padding: 15px 20px;
  	text-decoration: none;
	font-size: 30px;
	margin-left: 15px;
}

.navbar a:hover {
	text-decoration: underline;
}

.navbar a.active {
  	color: #ff7aa2;
}


/* ABOUT ME */
.aboutme {
	display: flex;
	overflow: hidden;
	flex-wrap: wrap;
	justify-content: left; /* change here if want to center the area*/
}
   
/*
.aboutme img {
	max-width: 100%;
	max-height:400px;
	margin: 30px;
}
*/
   
.aboutme .text {
	align-self: top;
	max-width: 500px;
	text-align: left;
}

/* CONTACT */
.contact {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: left;
	margin-left: 15px;
	margin-top: 10px;
}

.contact-item {
	display: flex;
	flex-direction: row;
	padding: 10px;
	align-items: left;
	font-size: 25px;
}

.contact-item a {
	size: 20px;
}

.folder {
	padding:10px;
}

/* MAIN */
.main {
	padding: 20px;
}

.main h2 {
	padding-left: 20px;
	padding-top: 10px;
}

.main h3, .main h4 {
	padding-left: 20px;
	padding-top: 10px;
}

/*
.main a {
	color: rgb(0, 30, 75);
}

.main a:hover {
  	color:rgb(63, 136, 245);
}
*/