h1, h2, h3, h4, h5, h6 {
	padding: 5px;
}

/* Body */
body {
	background: rgb(0, 11, 92);
	font-family: Ubuntu;
	text-color: white;
}

.hovertext {
	position: relative;
	margin-bottom: 50px;
	display: inline-block;
	width: 50vw;
	font-size: 50px;
}

.hovertext:before {
  	content: attr(data-hover);
  	visibility: hidden;
	opacity: 0;
  	width: 50vw;
  	background-color: black;
  	color: #fff;
  	text-align: center;
  	border-radius: 5px;
  	padding: 5px 0;
  	transition: opacity 1s ease-in-out;

  	position: absolute;
  	z-index: 1;
  	left: 0;
  	top: 110%;
}

.hovertext:hover:before {
	opacity: 1;
  	visibility: visible;
	font-size: 10px;
}

/* Main */
.main  {
	padding: 10px;
	border-radius: 10px;
	border: solid 3px;
	margin: 5vw;
	font-size: larger;
	color: rgb(255, 255, 255);
	overflow: hidden;
}

.main #profile_pic {
        display: block;
	margin: 20px;
        border-radius: 50%;
        float: right;
	width: 20vw;
}

.main h1 {
	font-size: 50px;
}

.main h2 {
	font-size: 40px;
}

.main h3 {
	font-size: 20px;
}

.main h4 {
	font-size: 15px;
}

.main p {
	width: 50%;
}

.main a, .main a:link, .main a:visited {
	color: rgb(113, 186, 235);
}


@media (min-width: 1001px){
	.main .drawings img {
		height: 37vh;
		border-radius: 10px;
		border: 3px solid rgb(255, 255, 255);
	}
}

@media (max-width: 1000px) {
	.main .drawings img{
		width: 40vw;
		border-radius: 10px;
                border: 3px solid rgb(255, 255, 255);
	}
}

.contact a, .contact a:link, .contact a:visited {
	color: rgb(255, 255, 255);
}

/*Contact*/
.contact h2{
	padding-left: 50px;
	display: inline-block;
	font-size: 40px;
}

/* Navbar */
.navbar {
	overflow: hidden;
}

.navbar a {
	padding: 15px 30px;
	margin: 12px;
	border: 3px solid rgb(255, 255, 255);
	border-radius: 7px;
	display: inline;
  	float: left;
  	color: rgb(255, 255, 255);
  	text-align: center;
  	text-decoration: none;
	font-size: 17px;
}

.navbar a:hover {
	background: rgb(0, 11, 52);
	color: white;
}
