html, body, div, h1, h2, h3, h4, h5, h6, p, a, img, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
	background:#EEE2DC;
}

.tab {
	display: inline-block;
    margin-left: 40px;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 25px;
}

h5 {
	font-size: 20px;
}


/* HEADER */
.header {
	
}

.header h1 {
	text-align: center;
}

/* NAVBAR */
.navbar {
	background:#EEE2DC ;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.navbar a {
	background: #f789ae;
  	float: left;
  	color: #FFFFFF;
  	text-align: center;
  	padding: 15px 20px;
  	text-decoration: none;
    border-radius: 10px;
	font-size: 20px;
	margin-left: 25px;
	margin-bottom: 25px;
}

.navbar a:hover {
  	background-color: #ff6699;
	color: #FFFFFF;
}

.navbar a.active {
  	background-color: #f0447d;
  	color: #FFFFFF;
}


/* MAIN */
.main {
	color: #f1266a;
	background:  #EEE2DC;
	margin: 25px;
	padding: 20px;
}

.main h2 {
	padding-left: 20px;
	padding-top: 20px;
}

.main h3, .main h4 {
	padding-left: 20px;
	padding-top: 10px;
}

.announcement-bar {
    background-color: #EDC7B7;
    display: flex;
	flex-direction: column;
    align-items: center;
}

.announcement-bar-text {
    max-width: 30%;
}

.announcement-bar-image {
    
}

.announcement-bar h3 {
    color: #FFFFFF;
}

.announcement-bar p {
    color: #dd1b5c;
}